@import 'mixins-variables';


/* Table style */
.tableStyle {
  padding: 2% 0 1% 0;
}
table {
  border-collapse: separate;
  background: #fff;
  @include border-radius(5px);
  margin: 50px auto;
  @include box-shadow(0 0 5px rgba(0,0,0,0.3));

  thead {
    @include border-radius(5px);

    th {
      font-family: 'Patua One', cursive;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      @include text-shadow(1px 2px 0 rgba(0,0,0,0.5));
      padding: 20px;
      @include background-linear-gradient(#646f7f, #4a5564);

      &:first-child {
        @include border-top-left-radius(5px);
      }
      &:last-child {
        @include border-top-right-radius(5px);
      }
    }
  }
}

tbody tr td {
  color:#5f6062;
  font-size:13px;
  padding: 20px;
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody tr:last-child td {
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}

tbody:hover > tr td {
  opacity: 0.5;
  color:transparent;
  @include text-shadow(0 0 2px rgba(0,0,0,0.8));
}

tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  opacity: 1.0;
}