@import 'partials/table';
@import 'partials/mixins-variables';

/* Home page */

.homePage{
    .description{
        margin: 2% 0 6% 0;
        h4 {
           text-transform: uppercase;
        }
    }

    /* --- Table --- */
    .tableStyle {
        .buttonSort {
            margin-left: 8px;
        }
    }
}


.test {
    background-color: aliceblue;
}




/* Whole website */
body {
    background-color: #ecf0f1;
    //background-color: #353a40;
}
h4 {
    text-decoration: underline;
}
p {
    font-size: 15px;
}


